<nav class="navigation">
	<div class="logo">
		<h2><a href="/">THOSE BLOODY ZULUS</a></h2>
	</div>
	<div class="menu">
		<a href="#" class="menu-item">Previous</a>
		<a href="#" class="menu-item">Next</a>
		<a href="/stories" class="menu-item">View all Chapters</a>
		<p class="_jsCloseMenu mobile--only">Close Menu</p>
	</div>
	<div class="mobile-menu">
		<a href="#" class="_jsMenu">MENU</a>
	</div>
</nav>