
<%- include('partials/head') -%>
<%- include('partials/nav') -%>

<main>
	<div class="row" id="landing">
		<div class="col-md-3 col-12 book-1">
			<div class="book-content">

				<div class="book--title">
					<h1>Book 1</h1>
					<h3><%= category[1].name %></h3>
				</div>
				<div class="book--details"></div>
				<div class="book--links"></div>
			</div>
		</div>
		<div class="col-md-3 col-12 book-2">
			<div class="book-content">
				<div class="book--title">
					<h1>Book 2</h1>
					<h3>The Ballad of Mashimane</h3>
				</div>
				<div class="book--details"></div>
				<div class="book--links"></div>
			</div>
		</div>
		<div class="col-md-3 col-12 book-3">
			<div class="book-content">
				<div class="book--title">
					<h1>Book 3</h1>
					<h3>The sublime</h3>
				</div>
				<div class="book--details"></div>
				<div class="book--links"></div>
			</div>
		</div>
		<div class="col-md-3 col-12 book-4">
			<div class="book-content">
				<div class="book--title">
					<h1>Book 4</h1>
					<h3>versus the Devil</h3>
				</div>
				<div class="book--details"></div>
				<div class="book--links"></div>
			</div>
		</div>

	</div>
</main>

<%- include('partials/scripts') -%>
