@media screen and (max-width: 780px){
  .mobile--only{
    display: block;
  }
  .navigation{height: auto;}
  .menu--open .navigation .menu{transform: translateX(0);transition: transform 0.5s cubic-bezier(.95,.05,.8,.04);}
  .navigation .menu{
    
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  bottom: 0;
  top: 0;
  transform: translateX(100%);
  padding: 4em;
  }
  .navigation .menu .menu-item{
    
  display: block;
  font-size: 9vw;
  text-decoration: navajowhite;
  font-weight: bold;
  line-height: 1;
  border-bottom: 1px solid #eee;
  margin: 0;
  }
  
  .mobile-menu{
    display: block;
    margin-right:1em;
  }
  main{height: auto;overflow: auto;}
  #landing{height: auto;}
  .home{overflow-x: hidden;}
  .story--content{
    margin: 0;
  }
}
@media screen and (max-width: 500px){

}
@media screen and (max-width: 320px){

}

